<div class="offer-item">
    <img class="offer-image" src={{image}}/>

    <div class="offer-details">
        <div class="offer-details-info">
            <h3 id="offer-name">{{offerName}}</h3>
            <p>Departure date: <span id="offer-departure">{{departureDate | date}}</span></p>
            <p>Days: <span id="offer-days-range">{{days}}</span></p>
            <p>Price: <span id="offer-price">{{price}}</span></p>
            <p>People: <span id="offer-people-range">{{people}}</span></p>

            <div class="action-buttons">
                <button>Book now</button>
                <button>View details</button>
            </div>
        </div>
    </div>
</div>