/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { max-height: 100% !important; margin: 0 !important; padding: 0 !important;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  

.mat-form-field-infix {
    width: 100% !important;
    height: 35px;
    border: none;
    text-align: center;
}
.mat-form-field-wrapper {
    padding-bottom: 0 !important;
    border: none;
    margin-bottom: 15px;
}
.mat-form-field-underline {
    display: none;
    bottom: 0 !important;
}

:host ::ng-deep .mat-form-field-wrapper{
    margin: 0 !important;
    padding: 0;
  }

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}
