<div id="content" *ngIf="!router.url.includes('/OfferItemDetailsComponent')">
    <!-- <div id="text" *ngIf="region!=''">Region: {{region}}</div> -->
    
    <div id="filters" *ngIf="(filter | json) != '{}'">
        <h2>Filters</h2>
        <p>Country: {{filter.country}}</p>
        <p>Departure date: {{filter.departure | date}}</p>
        <p>People number: {{filter.people}}</p>
        <p>Price from: {{filter.priceFrom}}</p>
        <p>Price to: {{filter.priceTo}}</p>
        <p>Days: {{filter.days}}</p>
        <p>Type: {{filter.type}}</p>
    </div> 

    <div id="region" *ngIf="(filter | json) == '{}'">
        <h2>Region</h2>
        <h3 id="region-value">{{region}}</h3>
    </div> 

    <div id="results">
        <app-offer-item *ngFor="let offer of offersToDisplay"
            [id]="offer.id" [offerName]="offer.offerName" [departureDate]="offer.departureDate"
            [people]="offer.people" [days]="offer.days" [price]="offer.price"
            [image]="offer.image" [description]="offer.description"
        >
        </app-offer-item>
    </div>

    <div id="button"><button (click)="goBackClick()">Go Back</button></div>
</div>