#content {
    display: grid;
    width: 80vw;
    height: 70vh;
    margin-left: auto;
    margin-top: 100px;
    grid-gap: 10px;
    margin-right: auto;

    grid-template-areas: ". destination"
                            "filters results"
                            "button button";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 6% 84% 10%;
}

#text {
    grid-area: destination;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 40px;
    width: 100%;
    height: 100%;
    line-height: 100%;
}

#button {
    grid-area: button;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 7vh;
    width: 20vw;
}

button {
    width: 100%;
    height: 100%;
    background-color: #1976d2;
    border-radius: 5px;
    border: none;
    color: white;
}

button:hover {
    cursor: pointer;
}

#filters {
    grid-area: filters;
    background-color: #1976d2;
    color:white; 

    padding: 1%;
    border-radius: 10px;
    width: 99%;
    height: auto;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#filters h2 {
    border-bottom: 1px solid white;
}

#region {
    grid-area: filters;
    background-color: #1976d2;
    color:white; 

    padding: 1%;
    border-radius: 10px;
    width: 99%;

    max-height: 120px;
    text-align: center;
}

#region h2 {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

#results {
    grid-area: results;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

#results:last-child {
    margin-bottom: -10px !important;
}